---
import { LINKS } from "../consts";
import MainLayout from "../layouts/MainLayout.astro";

const title = "Temps de cuina";
---

<MainLayout title={title}>
  <section class="mt-10 sm:mt-20 w-full flex flex-col justify-start items-center sm:flex-row sm:justify-between sm:items-start px-6">
    {
      LINKS.map((link) => (
        <a
          href={link.url}
          class="border-2 border-red-400 rounded-md w-3/12 min-w-40 flex flex-col items-center justify-center gap-y-2 py-5 mb-5"
        >
          <link.icon class="size-20 text-red-400" />
          <p class="text-xl font-light text-red-400">{link.text}</p>
        </a>
      ))
    }
  </section>
</MainLayout>
