---
import { LINKS } from "../consts";

import Kitchen from "../icons/Kitchen.astro";
---

<nav class="flex justify-between p-6 bg-red-400 w-full">
  <a href="/">
    <Kitchen class="text-white dark:text-slate-800 size-8" />
  </a>
  <div class="flex justify-between">
    {
      LINKS.map((link) => (
        <a
          href={link.url}
          class="flex items-center gap-x-2 mr-10 text-white dark:text-slate-800"
        >
          <link.icon class="size-8" />
          <p>{link.text}</p>
        </a>
      ))
    }
  </div>
</nav>
