---
import type { IntensityElement, TemperatureElement } from "../types";
import TableItem from "./TableItem.astro";

interface Props {
  type: "pot" | "airfryer" | "oven";
  table: IntensityElement[] | TemperatureElement[];
}

const { table, type } = Astro.props;
---

<section
  class="border-[1px] border-red-400 rounded-b-xl rounded-t-2xl w-full max-w-2xl mt-12"
>
  <TableItem type={type} />
  {table.map((element) => <TableItem element={element} type={type} />)}
</section>
