---
import type { IntensityElement, TemperatureElement } from "../types";

interface Props {
  element?: IntensityElement | TemperatureElement;
  type: "pot" | "airfryer" | "oven";
}

const { element, type } = Astro.props;

let lastColumnHeader;
let lastColumnValue;

if (element) {
  if (type === "pot") {
    lastColumnValue = (element as IntensityElement).intensity;
  } else {
    lastColumnValue = `${(element as TemperatureElement).temperature}ยบ`;
  }
} else {
  if (type === "pot") {
    lastColumnHeader = "Intensitat";
  } else {
    lastColumnHeader = "Temperatura";
  }
}
---

<section
  class:list={[
    "flex justify-between py-4",
    element
      ? "text-slate-800 dark:text-white font-light border-b-[1px] last:border-b-0 border-black-800"
      : "text-white font-semibold bg-red-400 rounded-t-xl",
  ]}
>
  <div class="w-5/12 pl-3">{element ? element.name : "Ingredient"}</div>
  <div class="w-3/12 text-end pr-3">
    {element ? `${element.time} min` : "Temps"}
  </div>
  <div class="w-4/12 text-end pr-3">
    {element ? lastColumnValue : lastColumnHeader}
  </div>
</section>
